body {
  background-color: white;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0px 20px 20px 20px;
}

.att-but {
	width: 90px;
	height: 20px;
	padding: 0px;
	font-size: 8pt;
}

/* DisclosureWidget */
.dw {
	width: 100%;
	max-width: 500px;
	border: 1px solid #DADADA;
	color: #333;
}

.dw-header {
	width: 100%;
    background-image: url(img/dw-header-bg.png);
}

.dw-heder-controls {
	margin-left: 2px;
	margin-right: 2px;
}

.dw-content {
	background: #F6F6F6;
}

.dw-resizer {
	cursor: n-resize;
}

.dw-but {
	cursor: pointer;
}
/* END DisclosureWidget */

/* SingleAttributeWidget */
.saw {
	padding: 2px;
	margin: 4px;
	background-image: url(img/raw-bg.png);
	background-repeat: repeat-x;
	background-color: #B8C8D8;
	border: 1px solid #7F9DB9;
	color: #333;
}
/* END SingleAttributeWidget */

/* FDWidget and RelationAttributesWidget */
.fdw {
	margin: 4px;
	background-image: url(img/raw-bg.png);
	background-repeat: repeat-x;
	background-color: #B8C8D8;
	border: 1px solid #7F9DB9;
	color: #333;
}
/* END FDWidget */

/* FDEditorWidget */
.fdew-dc-on-enter { /* Drop Controller*/
	background-color: #AEDAA5;
}

.fdew-btn { 
	width: 80px;
	margin-top: 6px;
	font-size: 8pt;
	
}

.fdew-label {
	font-size: 8pt;
}

/* END FDEditorWidget */

/* DecompositionEditorWidget */
.dew-btn {
	width: 80px;
	margin-top: 6px;
	font-size: 8pt;
}

.dew-label {
	font-size: 8pt;
}

/* END DecompositionEditorWidget */

/* HelpDialog */
.gwt-DialogBox {
	background: #F6F6F6;
	border: 2px solid #DADADA;
}

.Caption {
	background-image: url(img/dw-header-bg.png);
	cursor: move;
}

/* END HelpDialog */

/* Minimal Cover Button */
.min-cov-but {
	margin: 6px;
}

/* RelationWidget */

.relW {
	background-color: #FFFFFF;
	border: 1px solid #CED4DA;
	width: 100%;
}

.relW-header {
	background-image: url(img/relation-bg.png);
	background-repeat: repeat-x;
	width: 100%;
} 

.relW-collapseBut {
	margin-top: 0px;
}

.relW-collapsedName {
	font-size: 10pt;
}

.relW-attLabel {
	font-size: 10pt;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-top: 0px;
}

/* End RelationWidget */

/* CheckSolutionDialog */

.csd-innerPanel {
	background-color: #FFFFFF;
	border: 1px solid #CED4DA;
	width: 100%;
}

/* END CheckSolutionDialog */

/* NewAssignmentDialog */
.nad-innerPanel {
	background-color: #FFFFFF;
	border: 1px solid #CED4DA;
	width: 100%;
}

.nad-myLabel {
	margin: 2px;
}

.nad-myLabel-selected {
	background-image: url(img/raw-bg.png);
	background-repeat: repeat-x;
	background-color: #B8C8D8;
	border: 1px solid #7F9DB9;
	color: #333;
}

/* END NewAssignmentDialog */
