################################################################################
# A configuration file for LDBN. You can use relative or full URLs.            #
################################################################################  
save_script_url=php/save.php
load_script_url=php/load.php
list_sctipt_url=php/list.php
